id: 0
name: wolfbot
logfile: /tmp/wolfbot.log
ir_period_ms: 4000
ir_slices: 4

# battery.ratio = BATT_L / (BATT_L + BATT_H)
# Motor board design calls for: BATT_L = 165k, BATT_H = 715k
battery:
    ain: 6
    ratio: 0.1875 

lightsensor:
    ain: 3
    v_max: 1.071  # max voltage expected at ADC from sensor

